*{
    margin: 0;
}
span{
    color: orange;
    background-color: #3C3C3C;
    border: inset 5px #3C3C3C;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 340px;
    margin-top: 10px;
    height: 40px;
    width: 60px;
    font-size: 26px;
    
}
body{
    background-color: #1C1C1C;
    height: 100%;
}
header{
    display: flex;
    justify-content: center;
    height: 150px;
    border: solid 2px black;
    margin-bottom: 20px;
    background-color: #F4F4F4
    ;
}

#milieu{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
#logo{
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin-right: 70px;
    background: linear-gradient(to bottom, #F4F4F4 15%, orange 75%);
}
/* #compte{
    border: black 2px solid;
    display: flex;
    height: 40px;
    justify-content: space-between;
} */
.top{
    display: flex;
    height: 50px;
    justify-content: flex-end;
}
#article{
    display: flex;
    flex-direction: row;
    margin-left: 22%;
    margin-right: 21.5%;
    background-color: #F3F3F3;
    flex-wrap: wrap;
    justify-content: space-around;
}
#boxe{
    display: flex;
    margin-bottom: 20px;
    box-shadow: black 1px 2px 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    height: 30px;
}
.container-droit{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
}
#prenom{
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
}

#gants1{
    padding-bottom: 50px;
    box-shadow:black 1px 2px 10px;
    display: flex;
    flex-direction: column;
}
#gants2{
    padding-bottom: 50px;
    box-shadow:black 1px 2px 10px;
}
#gants3{
    padding-bottom: 50px;
    box-shadow:black 1px 2px 10px;
}
#gants4{
    padding-bottom: 50px;
    box-shadow: black 1px 2px 10px;
}
button{
    width:200px;
}
h4{
    display: flex;
    flex-direction: row;
    width: 50px;
    text-decoration: line-through;
    color: grey;

}
h2{
    color: orange;
    text-decoration: black underline solid ;
}
.infos{
    display: flex;
    flex-direction: row;
}
.titre{
    display: flex;
    justify-content: center;
}
.bande{
    background-color: #2D2D2D;
    height: 15px;
    margin-top: 20px;
}
button{
    background-color: #2D2D2D;
    border-radius: 5px;
    color: white;
    width: 150px;
    margin-right: 50px;

}
footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #2D2D2D;
    color: white;
    flex-wrap: wrap;
    
    
}
.livre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.cadenas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    
}
.camion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.pouce{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.charte{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 30px;
}
.reseaux{
    background-color: #2D2D2D;
}
li{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 150px
}
#copyright{
    display: flex;
    justify-content: center;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}